@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.main-section {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(243, 220, 255, 1) 25%,
    rgba(247, 230, 255, 1) 34%
  );
  h1 {
    text-align: center;

    font-family: "Poppins";
    color: #a327e2;
    position: relative;
    font-weight: bold;
  }
  .maze-heading {
    padding: 40px 0 60px 0;
  }
  .maze-heading h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
  }
  .maze-heading h1:before {
    background-color: #980f5a;
    content: "";
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
  }
  .maze-heading h1:after {
    background-color: #980f5a;
    content: "";
    display: block;
    position: absolute;
    right: -25px;
    bottom: 0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
  }

  .maze-section {
    display: flex;
    align-items: center;
    justify-content: center;
    .maze-box {
      display: flex;
      width: 60%;
      justify-content: center;
    }
    .maze-select {
      width: 100%;
      text-align: center;
      legend {
        font-size: 20px !important;
        font-weight: 600;
        margin-bottom: 20px;
        font-family: "Poppins";
        color: #0c1e7f;
        text-transform: uppercase;
      }
      .maze-label span {
        font-size: 20px !important;
        font-family: "Poppins" !important;
        color: #980f5a;
        font-weight: bold !important;
      }
    }
  }
  .game-btn {
    background-color: #753188 !important;
    margin-top: 60px !important;
    color: white;
    padding: 10px 20px;
    font-family: "Poppins";
  }
}

.lose-dialog .MuiPaper-root {
  background-color: #fdeded !important;
  .lose-text {
    color: red;
    font-family: "Poppins";
  }
  button {
    font-size: 16px !important;
    font-family: "Poppins" !important;
    color: #980f5a;
  }
}
.won-dialog .MuiPaper-root {
  background-color: #dbfcd5 !important;
  .won-text {
    color: green;
    font-family: "Poppins";
  }
  button {
    font-size: 16px !important;
    font-family: "Poppins" !important;
    color: #980f5a;
  }
}
.user-block {
  color: #344cb7;
}
.cmp-block {
  color: green;
}
.counter {
  text-align: right;
  max-width: 300px;
  margin: auto;
  font-size: 16px !important;
  font-family: "Poppins" !important;
  color: #344cb7;
  font-weight: bold;
  span {
    color: #980f5a;
  }
}
.count3 {
  max-width: 400px;
}
.count4 {
  max-width: 500px;
}
@media (max-width: 600px) {
  .main-section .maze-section .maze-box {
    width: 100%;
  }
}
