body {
  background: linear-gradient(
    90deg,
    rgba(243, 220, 255, 1) 25%,
    rgba(247, 230, 255, 1) 34%
  );
  color: #fff;
}
main {
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.board {
  display: grid;
  width: auto;
  border: 2px solid #980f5a;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
div.board4 {
  display: grid;
  width: auto;
  border: 2px solid #980f5a;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
div.board5 {
  display: grid;
  width: auto;
  border: 2px solid #980f5a;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
div.square {
  width: 100px;
  height: 100px;
  border: 2px solid #980f5a;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}
div.result {
  font-size: 2rem;
  padding: 10px;
}
div.result.green {
  background-color: #5a5;
}
div.result.red {
  background-color: #a55;
}
@media (max-width: 600px) {
  div.square {
    width: 55px;
    height: 58px;
    font-size: 2rem;
  }
}
